.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-right: 5px; */
    padding: 10px 20px 10px 20px;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.logo-container {
    flex: 1;
}

.logo-img {
    max-width: 80px;
    height: auto;
}

.nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}


.nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 25px;
    margin-right: 35px;
    font-size: medium;
}

.nav a:hover {
    color: #d2211e;
}

.header.scrolled {
    background-color: #1a1a1a;
    transition: background-color 0.3s;
}
