.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-right: 5px; */
    padding: 5px 20px 5px 20px;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.logo-container {
    flex: 1;
    display: flex;
    align-items: center;
}

.logo-img {
    max-width: 70px;
    height: auto;
}

.nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}


.nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 50px;
    margin-right: 35px;
    font-size: medium;
}

.nav a:hover {
    color: #ff2a2a;
}

.header.scrolled {
    background-color: #1a1a1a;
    transition: background-color 0.3s;
}
