/* html, body {
    height: 100%;
    
    display: flex;
    flex-direction: column;
}

main-content {
    flex: 1 0 auto;
}
*/

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#includedFooter {
    /* position: fixed; */
    margin-top: auto;
    width: 100%;
}

body {
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}


.hero {
    position: relative;
    height: 110vh;
    /* background-image: url('./artifacts/image.png'); */
    background-size: cover;
    background-position: center;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

/* .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
    margin-left: 10px;
    width: 90%;
} */

.content {
    z-index: 10;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: flex-end;
    /* justify-content:baseline; */
}


.text-container {
    padding: 3rem;
    padding-bottom: 7rem;
    flex: 3;
    text-align: right;
    width: 50%;
}

.nameText{
    color: black;
    margin: 0;
    letter-spacing: 2px;
    line-height: 1.2;
    font-weight: 300;
    margin-bottom: 20px;
    font-family: "Avenir Light Oblique", sans-serif;
    font-size: 1.75rem;
}

.text-container h1 {
    font-size: 3.75rem;
    width: 43%;
    color: black;
}

.text-container h2 {
    font-size: 2.5rem;
    width: fit-content;
    color: black;
}

.homeSection{
    color: #ccc;
    background: #fdf0eb;
    text-align: left;
    padding: 3rem;
}

.homeSection p {
    line-height: 1.6;
    font-size: 16px;
    color:rgba(0, 0, 0, 0.9);
}

.header{
    background: none;
}


.brands {
    padding-top: 60px;
}

#our-brands {
    padding-top: 100px; /* Adjust based on your navbar height */
    margin-top: -100px; /* Negative margin to offset the padding */
    margin-bottom: -200px;
}

html {
    scroll-behavior: smooth;
}

.copyright {
    text-align: center;
    background-color: #e1c7bd;
    padding: 0.8rem 0;
    margin-top: 1rem;
    width: 100%;
  }
  
.copyright p{
    margin: 0;
    font-size: 0.9rem;
    color: #333;
}



/* Hide scrollbar for cleaner UI */
.scroll-container::-webkit-scrollbar {
    display: none;
}

/* Content Styling */
.content {
    padding: 20px;
    text-align: center;
}

.box {
    height: 500px;
    width: 90%;
    margin: 20px auto;
    background-color: #f0f0f0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
}


.scroll-container-body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fdf0eb;
}

.scroll-container {
    width: 80%;
    height: 80vh;
    overflow-y: scroll;
    padding: 20px;
    background-color: #fdf0eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

.scroll-section {
    margin-bottom: 20px;
    padding: 15px;
    border-bottom: 1px solid #eee;
    width: 100%;
    text-align: center;
    

}



.scroll-section p{
    color: black;
    color: black;
    margin: 0;
    letter-spacing: 2px;
    line-height: 1.2;
    font-weight: 300;
    margin-bottom: 20px;
    font-family: "Avenir Light Oblique", sans-serif;
    font-size: 1rem;
}

.scroll-section h2{
    color: black;
    color: black;
    margin: 0;
    letter-spacing: 2px;
    line-height: 1.2;
    font-weight: 300;
    margin-bottom: 20px;
    font-family: "Avenir Light Oblique", sans-serif;
    font-size: 1.75rem;
}

.scroll-section:last-child {
    border-bottom: none;
}

.scroll-section img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scroll-section h2 {
    margin-top: 0;
}

.view-more {
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    display: inline-block;
    margin-top: 30px;
    background-color: #CE5300;
    color: #fff;
    font-size: 25px;
    padding: 13px 31px;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif
}
.view-more:hover {
    background-color: #0056b3;
}

@media (max-width:400px){
    .text-container h1 {
        font-size: 3rem;
        width: 43%; 
    }
    .text-container{
        padding: 0.5rem 5rem 1rem 1rem;
    }
    .text-container h2 {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
    }
    .content{
        
    }
    .hero{
        height: 100vh;
    }
}
