body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#includedFooter {
    margin-top: auto;
    width: 100%;
}



.cbody {
    background-color: #f0f0f0;
    height: 100vh;
    margin: 0;
    padding: 0;
}


.career-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 90vh; /* Adjust height as needed */
    background-color: rgb(255, 255, 255); /* Matches Rebel Foods' dark theme */
    color: #fff; /* White text color */
    padding: 0 10%;
    font-family: Arial, sans-serif;
}

.career-content {
    flex: 1;
    text-align: left;
}

.career-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #f44336; /* Gold color for the heading */
}

.career-content p {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #1a1a1a;
}

.career-email {
    color: #00aaff; /* Blue for the email link */
    font-size: 1.5rem;
    text-decoration: none;
}

.career-email:hover {
    text-decoration: underline;
}

.career-graphic {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.career-graphic img {
    width: 50%;
    max-width: 300px;
    height: auto;
}


.mainDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}



.empty{
    height: 450px;
}

.header {
    background-color: #1a1a1a;
}


/* Responsive Design */
@media (max-width: 768px) {
    .career-container {
        flex-direction: column;
        padding: 0 5%;
        height: 400px;
        margin-top: 140px;
        background-color: #f0f0f0;
    }

    .career-content h1 {
        font-size: 2rem;
    }

    .career-content p, .career-email {
        font-size: 1.5rem;
    }

    .career-graphic img {
        width: 70%;
        max-width: 400px;
    }
    .career-content p, .career-email {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    .career-content h1 {
        font-size: 1.8rem;
    }

    .career-content p, .career-email {
        font-size: 1rem;
    }

    .career-graphic img {
        width: 90%;
        max-width: 200px;
    }
    .career-content p, .career-email {
        font-size: 1.2rem;
    }
}
