#includedHeader{
  height: 100px;
}
#includedHeader .header .nav,
#includedHeader .header li a {
  background-color: #fdf0eb !important;    ;
  color: #555 !important;
}

.careers-body {
  /* font-family: 'Poppins', sans-serif; */
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

.careers .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  padding: 20px;
}

.careers h1 {
  font-size: 2.8rem;
  color: #555;
  margin-bottom: 20px;
}

.careers p {
  font-size: 1.2rem;
  margin: 10px 0;
  line-height: 1.8;
  color: #555;
}

.careers .highlight {
  color: #b48e2f;
  font-weight: bold;
}

.careers .cta {
  margin-top: 30px;
}

.careers .cta a {
  display: inline-block;
  padding: 14px 30px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #b48e2f;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.careers .cta a:hover {
  background-color: #a07c24;
}

.careers .info-section {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  max-width: 900px;
}

.careers .info-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 250px;
  height: 300px;
  text-align: center;
}

.careers .info-box h3 {
  color: #b48e2f;
  margin-bottom: 10px;
}

.careers .info-box p {
  font-size: 0.95rem;
  color: #666;
}

.careers .info-box img {
  width: 56%;
  height: auto;
  border-radius: 10px;
}

.careers .info-box .img1 {
  width: 78%;
}

.careers .info-box .img2 {
  width: 63%;
}


@media(max-width: 700px) {
  .careers .info-section {
    flex-direction: column;
    gap: 30px;
  }
}
