<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./try.css">
    <link rel="stylesheet" href="../header/header.css">
    <link rel="stylesheet" href="components/brands/brands.css">  
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="components/brands/brands.js"></script>
    <script> 
    $(function(){
      $("#includedHeader").load("../header/header.html"); 
    });
    $(function(){
      $("#includedBrands").load("./components/brands/brands.html"); 
    });
    </script>
</head>
<body>
    <div id="includedHeader" class="headerDiv"></div>
    <div class="pbody">
        Hello pookie
    </div>
    <div id="includedBrands"></div>
</body>
</html>