<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="contact.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script> 
        $(function(){
          $("#includedFooter").load("../footer/footer.html", function() {
            $("<link>", {
                rel: "stylesheet",
                type: "text/css",
                href: "../footer/footer.css"
            }).appendTo("head"); 
          });
        });
        $(function(){
          $("#includedHeader").load("../header/header.html", function() {
            $("<link>", {
                rel: "stylesheet",
                type: "text/css",
                href: "../header/header.css"
            }).appendTo("head"); 
              $("#includedHeader .logo-img").attr("src", "../../artifacts/EHLogo.png");
          }); 
        });
        </script>
</head>

<body class="contact-body">
    <div id="includedHeader"></div>
    <div class="container contact-page">
        <div class="left-section">
            <h1>Contact Us</h1>
            <p>We are here to answer your questions and explore how you can join our premium team.</p>

            <div class="info">
                <div>
                    <h3>Our Location</h3>
                    <p>584 (Basement), Golf Course Rd,<br> Sector 43 Gurugram, Haryana 122002</p>
                </div>
                <div>
                    <h3>How Can We Help?</h3>
                    <p>+91 8076097170<br> CS@enoki.in</p>
                </div>
            </div>
        </div>

        <div class="right-section">
            <h1>Send us a Message</h1>
            <form method="POST" action="https://formsubmit.co/verma.rishabh0303@gmail.com">
                <div class="formFirst">
                    <div>
                        <input type="text" placeholder="First Name *" class="input-underline formInput" required />
                    </div>

                    <div>
                        <input type="text" placeholder="Last Name" class="input-underline formInput" />
                    </div>
                </div>
                <div class="formSecond">
                    <input type="email" placeholder="Email address *" class="input-underline formInput" required />
                </div>

                <div class="formSecond">
                    <input type="message" placeholder="Write your message.." class="input-underline formInput "
                        required />
                </div>
                <div class="formThird">
                    <button class="formButton" type="submit">Send Message</button>
                </div>
            </form>
        </div>
    </div>
    <div class="copyright">
        <p>&copy; Designed By Culinary Guide</p>
    </div>
</body>
</html>