#includedHeader{
    height: 100px;
}

#includedHeader .header .nav,
#includedHeader .header li a {
    background-color: #fdf0eb !important;    ;
    color: #555 !important;
}

.contact-body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.contact-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
    padding: 20px;
}

.contact-page .left-section {
    background-color: #e8f4ff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-page .left-section h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

.contact-page .left-section p {
    font-size: 1.1rem;
    margin-bottom: 40px;
    line-height: 1.8;
}

.contact-page .info {
    display: flex;
    align-items: flex-start !important;
    gap: 20px;
    align-items: center;
}

.contact-page .info div {
    flex: 1;
    text-align: left;
}

.contact-page .info h3 {
    font-size: 1.1rem;
    margin-bottom: 5px;
    color: #555;
}

.contact-page .info p {
    font-size: 0.9rem;
    color: #666;
}

.contact-page .right-section {
    background-color: white;
    padding: 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-page .right-section h1 {
    font-size: 2.25rem;
    margin-bottom: 20px;
    color: #333;
}

.copyright {
    text-align: center;
    background-color: #e1c7bd;
    padding: 0.8rem 0;
    margin-top: 1rem;
  }
  
.copyright p {
    margin: 0;
    font-size: 0.9rem;
    color: #333;
}

@media(max-width: 700px) {
    .contact-page {
        grid-template-columns: none;
    }
    #includedHeader .header li a {
        background-color: transparent !important;    ;
        color: white !important;
    }
    .contact-page h1 {
        font-size: 2rem !important;
    }
    .contact-page .right-section {
        padding: 24px;
    }
  }

.contact-page .formFirst{
    display: flex;
    margin: 3.25rem 0 0 0;

    /* items-center  */
}

.contact-page .formSecond{
    padding: 0rem 0.75rem 0rem 0.5rem;
    margin: 3rem 0.5rem 1rem 0.5rem;
    flex: 1 1 0%;
}

.contact-page .formThird{
    display: flex;
    justify-content: end;
    margin: 1rem 1.25rem ;
}

.contact-page .formFirst div{
    padding: 0rem 0.75rem 0rem 0.5rem;
    margin: 1rem 0.5rem 0rem 0.5rem;
    flex: 1 1 0%;
}

.contact-page .formLabel{
    display: block;
    font-size: x-small;
    text-align: left;
    margin-bottom: 0.25rem;
}

.contact-page .formInput{
    font-size: small;
    display: block;
    width: 100%;
    padding: 0.375rem 0.5rem 0.375rem 0.5rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.contact-page .input-underline {
    border: none;                 
    border-bottom: 2px solid #3e3f40; 
    background-color: transparent;
    border-width: 1px;
}

.contact-page .formButton{
    background-color: #84bbef;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-page .formThird button:hover {
    background-color: #0056b3;
}