<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brands</title>
    <link rel="stylesheet" href="brands.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script>
</head>
<body>

    <!-- <div class="space-50vh lightBG"></div> -->
    
    <!-- Scrollable wrapper for horizontal scrolling -->
    <div class="racesWrapper">
        <div class="container races">
            <div class="block block-1">
                <div class="brand-text-container">
                    <h1>ENOKI</h1>
                </div>
                <div class="order-container">
                    <a href="https://www.google.co.in/" class="order-now" target="_blank">ORDER NOW</a>
                </div>
            </div>

            <div class="block block-2">
                <div class="brand-text-container">
                    <h1>TAHINI</h1>
                </div>
                <div class="order-container">
                    <a href="https://www.google.co.in/" class="order-now" target="_blank">ORDER NOW</a>
                </div>
            </div>

            <div class="block block-3">
                <div class="brand-text-container">
                    <!-- <div class="ambarsar-logo"></div> -->
                    <h1>AMBERSAR</h1>
                </div>
                <div class="order-container">
                    <a href="https://www.google.co.in/" class="order-now" target="_blank">ORDER NOW</a>
                </div>
            </div>

            <div class="block block-4">
                <div class="brand-text-container">
                    <h1>TOBIKO</h1>
                </div>
                <div class="order-container">
                    <a href="https://www.google.co.in/" class="order-now" target="_blank">ORDER NOW</a>
                </div>
            </div>

            <div class="last block block-5">
                <div class="brand-text-container">
                    <h1>RUMALI</h1>
                </div>
                <div class="order-container">
                    <a href="https://www.google.co.in/" class="order-now" target="_blank">ORDER NOW</a>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="space-100vh lightBG"> meowww </div> -->

    <script src="brands.js"></script>
    
</body>
</html>
