@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body {
    margin: 0;
    background: #1a1a1a;
    /* 15151e */
    overflow-x: hidden;
}

.races {
    width: fit-content;
    display: flex;
    flex-wrap: nowrap;
}

.racesWrapper{
    display: flex;
    align-items: center;
    height: 75vh; /* Adjust this value to control how centered it appears */
    overflow: hidden;
}

/* Existing styling */
.lightBG {
    background: #313143;
}

.space-20vh {
    height: 20vh;
}

.space-30vh {
    height: 30vh;
}

.space-50vh {
    height: 50vh;
}

.space-100vh {
    height: 100vh;
}

/* New container and block styling */
.container {
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 100px;
    background-color: #1a1a1a;

}

.block {
    position: relative;
    width: 1280px;
    height: 650px;
    margin: 10px 50px 20px 80px;
    background-color: black;

}

.block h1 {
    font-family: "Monument Extended", Serif;
    font-weight: lighter;
    font-size: 64px;
    letter-spacing: 2px;
    margin: 0;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Slight shadow for readability */
}

.order-now {
    font-family: "Georgia", serif; /* Or Times New Roman */
    font-style: italic;
    font-size: 24px;
    letter-spacing: 1px;
    color: #fff;
    margin: 10px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-decoration: underline;
}

.order-now:hover {
    color: #f0a500; /* Change color on hover for better UX */
    text-decoration: none; /* Removes underline on hover */
}

.brand-text-container {
    position: absolute;
    bottom: 120px; /* Adjusts the vertical position */
    right: 70px; /* Adjusts the horizontal position */
}

.order-container {
    position: absolute;
    bottom: 90px; /* Adjusts the vertical position */
    right: 75px; /* Adjusts the horizontal position */
}

/* Background images for each block */
.block-1 {
    background: url('image.jpeg') no-repeat center;
    background-size: contain;
    margin-left:-120px;
}

.block-2 {
    background: url('image.jpeg') no-repeat center;
    background-size: contain;
}

.block-3 {
    background: url('image.jpeg') no-repeat center;
    background-size: contain;
}

.block-4 {
    background: url('image.jpeg') no-repeat center;
    background-size: contain;
}

.block-5 {
    background: url('image.jpeg') no-repeat center;
    background-size: contain;

}

/* Specific adjustments for different blocks */
.block-1 h1, .block-3 h1, .block-5 h1 {
    bottom: 0;
    right: -60px;
}

.block-2 h1, .block-4 h1 {
    right: -60px;
}

/* .gsap-marker-scroller-end .gsap-marker-endlightBG{
    display: none;
} */