
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#includedFooter {
    margin-top: auto;
    width: 100%;
}

/* Container Styling */
.container {/* Body Styling */
    margin-top: 120px;
    margin-bottom: 60px;
    width: 1400px;
    margin: auto;
    columns: 4;
    column-gap: 40px;
}

/* Box Styling */
.container .box {
    width: 100%;
    margin-bottom: 10px;
    break-inside: avoid;
}

/* Image Styling */
.container .box img {
    max-width: 100%;
    border-radius: 15px;
}

/* Responsive Design */
@media (max-width: 1200px) {
    .container {
        width: calc(100% - 40px);
        columns: 3;
    }
}

@media (max-width: 768px) {
    .container {
        columns: 2;
    }
}


.mainDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

.header {
    position: fixed;
    top: 0px;
    background-color: #1a1a1a;
    margin-top: 0%;
}