<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" type="text/css" href="gallery.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(function(){
      $("#includedFooter").load("../footer/footer.html", function() {
        $("<link>", {
            rel: "stylesheet",
            type: "text/css",
            href: "../footer/footer.css"
        }).appendTo("head"); 
      });
    });
    $(function(){
      $("#includedHeader").load("../header/header.html", function() {
        $("<link>", {
            rel: "stylesheet",
            type: "text/css",
            href: "../header/header.css"
        }).appendTo("head"); 
      }); 
    });
    </script>
</head>
<body>
    <div id="includedHeader"></div>
        <div class="container">
            <div class="box"><img src="img.png" alt="Image 1"></div>
            <div class="box"><img src="img.png" alt="Image 1"></div>
            <div class="box"><img src="img1.png" alt="Image 1"></div>
            <div class="box"><img src="img.png" alt="Image 1"></div>
            <div class="box"><img src="img.png" alt="Image 1"></div>
            <div class="box"><img src="img.png" alt="Image 1"></div>
            <div class="box"><img src="img.png" alt="Image 1"></div>
            <div class="box"><img src="img.png" alt="Image 1"></div>
            <div class="box"><img src="img1.png" alt="Image 1"></div>
            <div class="box"><img src="img.png" alt="Image 1"></div>
            <div class="box"><img src="img.png" alt="Image 1"></div>
            <div class="box"><img src="img.png" alt="Image 1"></div>
            <div class="box"><img src="img.png" alt="Image 1"></div>
            <div class="box"><img src="img.png" alt="Image 1"></div>
            <div class="box"><img src="img.png" alt="Image 1"></div>
    
        </div>
    <div id="includedFooter"></div>



    
</body>
</html>
