<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" type="text/css" href="gallery.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(function(){
      $("#includedFooter").load("../footer/footer.html", function() {
        $("<link>", {
            rel: "stylesheet",
            type: "text/css",
            href: "../footer/footer.css"
        }).appendTo("head"); 
      });
    });
    $(function(){
      $("#includedHeader").load("../header/header.html", function() {
        $("<link>", {
            rel: "stylesheet",
            type: "text/css",
            href: "../header/header.css"
        }).appendTo("head"); 
        $("#includedHeader .logo-img").attr("src", "../../artifacts/EHLogo.png");
      }); 
    });
    </script>
</head>
<body>
    <div id="includedHeader"></div>
        <div class="gallery">
            <div class="box"><img src="./Archive 4/img1.jpg" alt="Image 1"></div>
            <div class="box"><img src="./Archive 4/img2.jpg" alt="Image 1"></div>
            <div class="box"><img src="./Archive 4/img4.jpg" alt="Image 1"></div>
            <div class="box"><img src="./Archive 4/img12.webp" alt="Image 1"></div>
            
            <div class="box"><img src="./Archive 4/img6.jpg" alt="Image 1"></div>
            <div class="box"><img src="./Archive 4/img19.jpg" alt="Image 1"></div>
            
            <div class="box"><img src="./Archive 4/img8.jpg" alt="Image 1"></div>
            <div class="box"><img src="./Archive 4/img9.jpg" alt="Image 1"></div>
            <div class="box"><img src="./Archive 4/img10.jpg" alt="Image 1"></div>
            <div class="box"><img src="./Archive 4/img11.jpg" alt="Image 1"></div>
            
            <div class="box"><img src="./Archive 4/img13.jpg" alt="Image 1"></div>
            <div class="box"><img src="./Archive 4/img14.jpg" alt="Image 1"></div>
            <div class="box"><img src="./Archive 4/img7.jpg" alt="Image 1"></div>
            <div class="box"><img src="./Archive 4/img3.jpg" alt="Image 1"></div>
            <div class="box"><img src="./Archive 4/img16.jpg" alt="Image 1"></div>
            <div class="box"><img src="./Archive 4/img17.jpg" alt="Image 1"></div>
            <div class="box"><img src="./Archive 4/img18.jpg" alt="Image 1"></div>
            
            <div class="box"><img src="./Archive 4/img20.jpg" alt="Image 1"></div>
            <div class="box"><img src="./Archive 4/img21.jpg" alt="Image 1"></div>
            <div class="box"><img src="./Archive 4/img22.jpg" alt="Image 1"></div>
            <div class="box"><img src="./Archive 4/img23.jpg" alt="Image 1"></div>
            <div class="box"><img src="./Archive 4/img5.jpg" alt="Image 1"></div>
            <div class="box"><img src="./Archive 4/img24.jpg" alt="Image 1"></div>
            <div class="box"><img src="./Archive 4/img25.jpg" alt="Image 1"></div>
            <div class="box"><img src="./Archive 4/img26.jpg" alt="Image 1"></div>
            <div class="box"><img src="./Archive 4/img27.jpg" alt="Image 1"></div>
            <div class="box"><img src="./Archive 4/img31.jpg" alt="Image 1"></div>
            
           
            <!-- <div class="box"><img src="./Archive 4/img28.webp" alt="Image 1"></div>
            <div class="box"><img src="./Archive 4/img29.jpg" alt="Image 1"></div>
            <div class="box"><img src="./Archive 4/img30.jpg" alt="Image 1"></div> --!>
            
        </div>
    <div id="includedFooter"></div>



    
</body>
</html>
