<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="footer.css">
</head>

<body class="fbody">
    <footer class="footer">
        <div class="social-icons">
            <a href="https://www.facebook.com/enokidelivery/" aria-label="Facebook">
                <ion-icon name="logo-facebook"></ion-icon>
            </a>
            <a href="https://www.instagram.com/enokidelivery/" aria-label="Instagram">
                <ion-icon name="logo-instagram"></ion-icon>
            </a>
            <a href="https://www.linkedin.com/company/enoki-hospitality/" aria-label="LinkedIn">
                <ion-icon name="logo-linkedin"></ion-icon>
            </a>
        </div>
    
        <div class="copyright">
            <p>&copy; Designed By Culinary Guide</p>
        </div>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>