<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="footer.css">
</head>

<body class="fbody">
    <footer class="footer">
        <ul class="social-icon">
            <li class="social-icon__item"><a class="social-icon__link" href="https://www.facebook.com/enokidelivery/" target="_blank">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a></li>
            <!-- <li class="social-icon__item"><a class="social-icon__link" href="#">
                    <ion-icon name="logo-twitter"></ion-icon>
                </a></li> -->
            <li class="social-icon__item"><a class="social-icon__link" href="https://www.linkedin.com/company/enoki-hospitality/" target="_blank">
                    <ion-icon name="logo-linkedin"></ion-icon>
                </a></li>
            <li class="social-icon__item"><a class="social-icon__link" href="https://www.instagram.com/enokidelivery/" target="_blank">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a></li>
        </ul>
        <ul class="menu">
            <li class="menu__item"><a class="menu__link" href="/">Home</a></li>
            <li class="menu__item"><a class="menu__link" href="/components/ourBrands/ourBrands.html">Our Brands</a></li>
            <li class="menu__item"><a class="menu__link" href="/components/careers/careers.html">Careers</a></li>
            <li class="menu__item"><a class="menu__link" href="#">Gallery</a></li>
            <li class="menu__item"><a class="menu__link" href="/components/contactUs/contact.html">Contact</a></li>

        </ul>
        <p>&copy;Enoki | Designed by Culinary Guide | All Rights Reserved</p>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>